// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@import "@fortawesome/fontawesome-free/css/all.min.css";

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.product {
    &-card {
        position: relative;
    }

    &-discount-label {
        padding: .5rem;
        background-color: red;
        color: white;
        font-weight: 700;
        font-size: 18px;
        border-radius: 100%;
        text-align: center;
        position: absolute;
        top: .5rem;
        right: .5rem;
    }
}
